<%#
//----------------------------------------------------
// Index
//----------------------------------------------------
%>
<%
  dateNow = Date.now();
  dateNowYear = new Date().getFullYear()
%>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title><%= site.title %></title>
    <meta name="description" content="<%= site.desc %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no, email=no, address=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta property="og:title" content="<%= site.title %>">
    <meta property="og:description" content="<%= site.desc %>">
    <meta property="og:url" content="<%= site.url %>/<%= url %>">
    <meta property="og:image" content="<%= site.url %>/<%= path.img %>/<%= ogimg %>">
    <meta property="og:site_name" content="<%= site.title %>">
    <meta property="og:type" content="<%= ogtype %>">
    <meta name="twitter:card" content="<%= twcard %>">
    <meta name="twitter:creator" content="@<%= social.twitter.id %>">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/css/yakuhanrp_s.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:100,300,400,500,700,800,900&amp;subset=japanese">
    <link rel="stylesheet" href="<%= climb %><%= path.css %>/project.min.css">
    <link rel="apple-touch-icon" href="<%= climb %><%= path.img %>/apple-touch-icon.png">
    <link rel="icon" href="<%= climb %><%= path.img %>/favicon.png">
  </head>
  <body>

    <header class="section is-header" id="header">
      <div class="inner">
        <div class="logo-illustration is-centering">
          <img src="<%= climb %><%= path.img %>/logo-illustration.svg" alt="<%= site.title %> Logo Illustration">
        </div>
        <div class="logo-set is-space-half">
          <h1 class="logo is-centering">
            <img src="<%= climb %><%= path.img %>/logo.svg" alt="<%= site.title %> Logo">
          </h1>
          <h2 class="ribbon-desc is-center is-centering"><%= site.desc_short %></h2>
        </div>
        <p class="text is-center is-lg">
          <span class="text is-strong">v<%= version %></span>
        </p>
        <p class="text is-center is-lg">
          <svg class="icon is-lg" role="img">
            <title>github</title>
            <use xlink:href="<%= climb %><%= path.img %>/sprite.svg#github"></use>
          </svg>
          <a class="text is-link-reverse is-primary" href="<%= repository %>">
            <span class="text">Repository</span>
          </a>
          <span class="text">/</span>
          <a class="text is-link-reverse is-primary" href="<%= repository %>/releases">
            <span class="text">Releases</span>
          </a>
        </p>
        <div class="btns is-center is-lg">
          <a href="/ie-buster.min.js" download="ie-buster.min.js" class="btn is-outline is-primary is-round">
            <svg class="icon is-lg" role="img">
              <title>download</title>
              <use xlink:href="<%= climb %><%= path.img %>/sprite.svg#download"></use>
            </svg>
            <span class="text">Download</span>
          </a>
        </div>
      </div>
    </header>

    <main class="section is-main">

      <section class="section is-content is-about" id="about">
        <div class="inner is-space">
          <h3 class="heading is-center is-strong is-mobile-xl is-tablet-xxl">About</h3>
          <div class="card is-width-sm is-centering">
            <div class="inner is-space">
              <a href="<%= climb %><%= path.img %>/about.png">
                <img class="img is-about" src="<%= climb %><%= path.img %>/about.png" alt="<%= site.title %> About Image">
              </a>
              <p class="texts">
                <span class="text">IE Buster（アイイーバスター）は、IE ユーザーに Chrome を促す 1.5KB のポップアップ JS です。Web 制作者みんなを救うために開発しました。</span>
                <span class="text is-inline-block">
                  <span class="text">（</span>
                  <a class="text is-link-reverse is-primary" href="<%= repository %>#about">→ 詳細</a>
                  <span class="text">）</span>
                </span>
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="section is-content is-how-to-use" id="how-to-use">
        <div class="inner is-space">
          <h3 class="heading is-center is-strong is-mobile-xl is-tablet-xxl">How To Use</h3>
          <div class="card is-width-sm is-centering">
            <div class="inner is-space">
              <h4 class="heading is-center is-strong is-mobile-lg is-tablet-xl">
                <a class="text is-link-reverse is-primary" rel="noopener noreferrer" target="_blank" href="https://www.jsdelivr.com/package/npm/<%= name %>">CDN</a>
                <svg class="icon is-sm is-dark-6" role="img">
                  <title>external-link</title>
                  <use xlink:href="<%= climb %><%= path.img %>/sprite.svg#external-link"></use>
                </svg>
              </h4>
              <pre class="pre"><code class="code"><%= '<script src="https://cdn.jsdelivr.net/npm/ie-buster@' %><%= version %><%= '/dist/ie-buster.min.js"></script>' %></code></pre>
              <p class="texts is-center">
                <span class="text">HTML 内に CDN のリンクを貼るだけで、ポップアップを表示できます。</span>
              </p>
            </div>
          </div>
          <div class="card is-width-sm is-centering">
            <div class="inner is-space">
              <h4 class="heading is-center is-strong is-mobile-lg is-tablet-xl">
                <a class="text is-link-reverse is-primary" rel="noopener noreferrer" target="_blank" href="https://www.npmjs.com/package/<%= name %>">npm</a>
                <svg class="icon is-sm is-dark-6" role="img">
                  <title>external-link</title>
                  <use xlink:href="<%= climb %><%= path.img %>/sprite.svg#external-link"></use>
                </svg>
              </h4>
              <pre class="pre"><code class="code"><%= '$ npm i -D ' %><%= name %></code></pre>
              <p class="texts is-center">
                <code class="code">npm install</code>
                <span class="text">も利用可能です。</span>
              </p>
            </div>
          </div>
          <div class="card is-width-sm is-centering">
            <div class="inner is-space">
              <h4 class="heading is-center is-strong is-mobile-lg is-tablet-xl">
                <a class="text is-link-reverse is-primary" rel="noopener noreferrer" target="_blank" href="https://wordpress.org/plugins/wp-ie-buster/">WordPress</a>
                <svg class="icon is-sm is-dark-6" role="img">
                  <title>external-link</title>
                  <use xlink:href="<%= climb %><%= path.img %>/sprite.svg#external-link"></use>
                </svg>
              </h4>
              <p class="texts is-center">
                <span class="text is-tablet-block">WordPress 公式プラグインディレクトリからインストール・有効化するだけで、</span>
                <span class="text is-tablet-block">ポップアップを表示できます。</span>
              </p>
            </div>
          </div>
          <img class="img is-hero" src="<%= climb %><%= path.img %>/hero.svg" alt="<%= site.title %> Hero Image">
        </div>
      </section>

      <section class="section is-content is-quick-test" id="quick-test">
        <div class="inner is-space">
          <h3 class="heading is-center is-strong is-mobile-xl is-tablet-xxl">Quick Test</h3>
          <div class="card is-width-sm is-centering">
            <div class="inner is-space">
              <h4 class="heading is-center is-strong is-mobile-lg is-tablet-xl">
                <a class="text is-link-reverse is-primary" rel="noopener noreferrer" target="_blank" href="https://codepen.io/qrac/full/gdPNXN/">CodePen</a>
                <svg class="icon is-sm is-dark-6" role="img">
                  <title>external-link</title>
                  <use xlink:href="<%= climb %><%= path.img %>/sprite.svg#external-link"></use>
                </svg>
              </h4>
              <p class="texts is-center">
                <code class="code">Change View</code>
                <span class="text">→</span>
                <code class="code">Open on CrossBrowserTesting</code>
                <span class="text">から IE 表示をテストできます。</span>
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="section is-content is-support" id="support">
        <div class="inner is-space">
          <h3 class="heading is-center is-strong is-mobile-xl is-tablet-xxl">Support</h3>
          <div class="card is-width-sm is-centering">
            <div class="inner is-space">
              <div class="table-wrap is-scroll-x">
                <table class="table is-border is-center">
                  <thead>
                    <tr class="box is-paint">
                      <td colspan="4">
                        <svg class="icon is-lg" role="img">
                          <title>ie</title>
                          <use xlink:href="<%= climb %><%= path.img %>/sprite.svg#ie"></use>
                        </svg>
                        <span class="text is-strong">Internet Explorer</span>
                      </td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>IE 8</td>
                      <td>IE 9</td>
                      <td>IE 10</td>
                      <td>IE 11</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <img class="img is-grave is-centering" src="<%= climb %><%= path.img %>/grave.svg" alt="<%= site.title %> Grave Image">
          </div>
        </div>
      </section>

      <section class="section is-content is-license" id="license">
        <div class="inner is-space">
          <h3 class="heading is-center is-strong is-mobile-xl is-tablet-xxl">License & Credit</h3>
          <div class="card is-width-sm is-centering">
            <div class="inner is-space">
              <p class="texts is-center">
                <span class="text is-inline-block">
                  <span class="text">License:</span>
                  <span class="text"><%= license %></span>
                </span>
                <span class="text is-dark-7">
                  <svg class="icon is-lg" role="img">
                    <title>dot</title>
                    <use xlink:href="<%= climb %><%= path.img %>/sprite.svg#dot"></use>
                  </svg>
                </span>
                <span class="text is-inline-block">
                  <span class="text">Author:</span>
                  <a href="<%= author.url %>" rel="noopener noreferrer" target="_blank" class="text is-link-reverse is-primary"><%= author.name %></a>
                  <svg class="icon is-sm is-dark-6" role="img">
                    <title>external-link</title>
                    <use xlink:href="<%= climb %><%= path.img %>/sprite.svg#external-link"></use>
                  </svg>
                </span>
                <span class="text is-dark-7">
                  <svg class="icon is-lg" role="img">
                    <title>dot</title>
                    <use xlink:href="<%= climb %><%= path.img %>/sprite.svg#dot"></use>
                  </svg>
                </span>
                <span class="text is-inline-block">
                  <span class="text">Illustration:</span>
                  <a href="<%= illustration.url %>" rel="noopener noreferrer" target="_blank" class="text is-link-reverse is-primary"><%= illustration.name %></a>
                  <svg class="icon is-sm is-dark-6" role="img">
                    <title>external-link</title>
                    <use xlink:href="<%= climb %><%= path.img %>/sprite.svg#external-link"></use>
                  </svg>
                </span>
                <span class="text is-dark-7">
                  <svg class="icon is-lg" role="img">
                    <title>dot</title>
                    <use xlink:href="<%= climb %><%= path.img %>/sprite.svg#dot"></use>
                  </svg>
                </span>
                <span class="text is-inline-block">
                  <span class="text">Organization:</span>
                  <a href="<%= organization.url %>" rel="noopener noreferrer" target="_blank" class="text is-link-reverse is-primary"><%= organization.name %></a>
                  <svg class="icon is-sm is-dark-6" role="img">
                    <title>external-link</title>
                    <use xlink:href="<%= climb %><%= path.img %>/sprite.svg#external-link"></use>
                  </svg>
                </span>
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="section is-content is-donation" id="donation">
        <div class="inner is-space">
          <h3 class="heading is-center is-strong is-mobile-xl is-tablet-xxl">Donation</h3>
          <div class="card is-width-sm is-bg-light-blue is-centering">
            <div class="inner is-space">
              <div class="paypal-docs">
                <div class="col">
                  <img class="img is-paypal-me is-centering" src="<%= climb %><%= path.img %>/paypal-me.svg" alt="<%= site.title %> PayPal.Me Image">
                </div>
                <div class="col is-space-half">
                  <h4 class="heading is-strong">PayPal.Me で応援・サポート！</h4>
                  <p class="texts is-sm">
                    <span class="text">「クラのこ」は夫婦で運営している Web 制作所です。PayPal ビジネスアカウントを取得し、直接支援を受けられるようになりました。サポートいただけると励みになります！</span>
                    <span class="text is-inline-block">
                      <span class="text">（</span>
                      <a class="text is-link-reverse is-primary" href="https://www.paypal.me/?country.x=JP&locale.x=ja_JP">PayPal.Me とは？</a>
                      <svg class="icon is-sm is-dark-6" role="img">
                        <title>external-link</title>
                        <use xlink:href="<%= climb %><%= path.img %>/sprite.svg#external-link"></use>
                      </svg>
                      <span class="text">）</span>
                    </span>
                  </p>
                </div>
              </div>
              <div class="paypal-box">
                <input class="input is-none is-paypal-box-trigger" type="checkbox" id="paypal-box-trigger" name="paypal-box-trigger">
                <div class="paypal-btns is-paypal-box-target-1">
                  <label class="btn is-plain is-paypal is-mobile-full is-sm is-paypal-box-trigger-label" for="paypal-box-trigger">
                    <svg class="icon is-lg" role="img">
                      <title>paypal</title>
                      <use xlink:href="<%= climb %><%= path.img %>/sprite.svg#paypal"></use>
                    </svg>
                    <span class="text">サポートの種類を見る</span>
                    <svg class="icon is-lg" role="img">
                      <title>angle-down</title>
                      <use xlink:href="<%= climb %><%= path.img %>/sprite.svg#angle-down"></use>
                    </svg>
                  </label>
                </div>
                <div class="paypal-btns is-grid-layout is-paypal-box-target-2">
                  <a href="https://www.paypal.me/qranoko/500" rel="noopener noreferrer" target="_blank" class="btn is-outline is-paypal is-mobile-full">
                    <svg class="icon is-lg-400" role="img">
                      <title>coffee</title>
                      <use xlink:href="<%= climb %><%= path.img %>/sprite.svg#coffee"></use>
                    </svg>
                    <span class="text is-left">
                      <span class="text is-strong is-block is-lg">500円</span>
                      <span class="text is-block is-sm">2人で一服します</span>
                    </span>
                  </a>
                  <a href="https://www.paypal.me/qranoko/2000" rel="noopener noreferrer" target="_blank" class="btn is-outline is-paypal is-mobile-full">
                    <svg class="icon is-lg-400" role="img">
                      <title>lunch</title>
                      <use xlink:href="<%= climb %><%= path.img %>/sprite.svg#lunch"></use>
                    </svg>
                    <span class="text is-left">
                      <span class="text is-strong is-block is-lg">2000円</span>
                      <span class="text is-block is-sm">栄養つけます</span>
                    </span>
                  </a>
                  <a href="https://www.paypal.me/qranoko/5000" rel="noopener noreferrer" target="_blank" class="btn is-outline is-paypal is-mobile-full">
                    <svg class="icon is-lg-400" role="img">
                      <title>book</title>
                      <use xlink:href="<%= climb %><%= path.img %>/sprite.svg#book"></use>
                    </svg>
                    <span class="text is-left">
                      <span class="text is-strong is-block is-lg">5000円</span>
                      <span class="text is-block is-sm">技術資料を購入！</span>
                    </span>
                  </a>
                  <a href="https://www.paypal.me/qranoko" rel="noopener noreferrer" target="_blank" class="btn is-outline is-paypal is-mobile-full">
                    <svg class="icon is-lg-400" role="img">
                      <title>present</title>
                      <use xlink:href="<%= climb %><%= path.img %>/sprite.svg#present"></use>
                    </svg>
                    <span class="text is-left">
                      <span class="text is-strong is-block is-lg">自由設定</span>
                      <span class="text is-block is-sm">すごい！！</span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>

    <footer class="section is-footer" id="footer">
      <div class="inner is-space">
        <p class="texts is-center">
          <span class="text">©</span>
          <a href="<%= organization.url %>" rel="noopener noreferrer" target="_blank" class="text is-link-reverse"><%= organization.name %></a>
          <span class="text"><%= dateNowYear %></span>
        </p>
      </div>
    </footer>

    <script src="/ie-buster.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/svg4everybody@2.1.9/dist/svg4everybody.min.js"></script>
    <script>svg4everybody();</script>
  </body>
</html>